<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bookstore</title>

	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 th:text="${msnWelcome}"></h2>
				<a class="btn btn-primary" href="/usuarios/novo" >Novo usuário</a>
			</div>
		</div>
	</div>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/popper/popper.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>